<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParkView.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <style>
        .search-button {
            position: relative;
            right: 72px;
        }


        footer {
            background-color: #333; /* Footer background color */
            color: #db2128; /* Text color for the footer */
            text-align: center;
            margin: 0;
            width: 100%;
        }

        .footer-address {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .footer-contact {
            font-size: 20px;
            padding-bottom: 10px;
        }

        /* Styling for social icons */
        .social-icon {
            margin: 0 15px;
            color: #fff; /* Social icon color */
            text-decoration: none;
            line-height: 25px;
        }

            /* Hover effect for social icons */
            .social-icon:hover {
                color: #ff9900; /* Hover color for social icons */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow px-5">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 120px;" src="~/images/logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark ourHotels" asp-area="" asp-controller="Hotel" asp-action="OurHotels">Our Hotels</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <form asp-controller="Hotel" asp-action="Detail" method="get">
                                <div class="d-flex">
                                    <input class="form-control search-input"
                                           type="search"
                                           name="query"
                                           id="searchElement"
                                           placeholder="Search any Hotel or place"
                                           style="width: 600px;"
                                           aria-label="Search" />
                                </div>
                            </form>
                        </li>
                    </ul>


                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="d-flex justify-content-center px-0">
                                <a class="nav-link text-dark d-flex flex-column justify-content-center" asp-controller="Home" asp-action="ContactUs"><i class="bi bi-telephone"></i></a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Booking" asp-action="ViewBooking">Your Bookings</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
        <br />
        <br />
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="background-color: #333; position:absolute;">

        <div class="footer-container py-3">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <h1 style=" color:#db2128"> Park View  </h1>
                    </div>
                    <p class="footer-text">Experience Luxury Amidst Nature</p>
                </div>
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <address class="footer-address">
                        <p>123 Park View Lane</p>
                        <p>City, State 12345</p>
                        <p><i class="bi bi-envelope-at-fill"></i> info@parkviewhotel.com</p>
                        <p> <i class="bi bi-telephone-fill"></i> +1 (123) 456-7890</p>
                    </address>
                </div>
                <div class="col-md-4">
                    <h4>Stay Connected</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/" class="social-icon"><i class="bi bi-facebook"></i></i></a>
                        <a href="https://twitter.com/" class="social-icon"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/" class="social-icon"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.youtube.com/" class="social-icon"><i class="bi bi-youtube"></i></a>

                    </div>
                </div>

                <div class="text-center">
                    &copy; 2023 - The Park View - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>

        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
